html {
    overflow-x: hidden;
    height: 100%;
}

body {
    font-family: Calibri, Arial, Trebuchet MS;
    font-size: 11pt;
    padding: 0px;
    margin: 0px;
    color: #254264;
    background-color: #DCE5F2;
    background-image: url(images/background.png);
    background-repeat: repeat-x;
}

h1 {
    font-family: Cambria, Arial, Trebuchet MS;
    font-size: 14pt;
}

h2 {
    font-family: Cambria, Arial, Trebuchet MS;
    font-size: 13pt;
    color: #4E81C8;
}

img {
    border: 0px;
}

a {
    color: #254264;
    text-decoration: underline;
}

.mainContainer {
    width: 100%;
    background-color: #d9e4f3;
    border: 1px solid #3b5a82;
    border-bottom: 0px;
}

.textbox {
    background-image: url(images/textboxbg.png);
    background-repeat: repeat-y;
    width: 880px;
    margin: 0px auto;
}

    .textbox div {
        width: 800px;
        margin: 0px auto 0px 0px;
        padding: 20px;
        overflow: hidden;
    }

.btn_edit {
    display: block;
    height: 20px;
    width: 55px;
    background: #81f3f3;
    border: 2px solid rgba(33, 68, 72, 0.59);
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
}

.btn_del {
    display: block;
    height: 20px;
    width: 55px;
    background: #81f3f3;
    border: 2px solid rgba(33, 68, 72, 0.59);
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
}

.datepicker {
    display: block;
    height: 20px;
    width: 250px;
    background: #4E81C8;
    border: 2px solid rgba(33, 68, 72, 0.59);
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
}

.txt_serch {
    height: 25px;
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    -moz-border-radius: 50px;
}

a:hover {
        text-decoration: none;
    }

.mGrid td {
    padding: 2px;
    border: solid 1px #c1c1c1;
    color: #717171;
    white-space: nowrap;
    table-layout: auto;
    font-family: Microsoft Sans Serif;
    font-size: 0.9em;
    text-align: center;
}
.mGrid th {
    padding: 4px 2px;
    color: #fff;
    background: #424242 url(grd_head.png) repeat-x top;
    border-left: solid 1px #525252;
    font-size: 0.9em;
    font-family: Microsoft Sans Serif;
    text-align: center;
}
.mGrid input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 100%;
}
.mGrid td {
    width: 10%; /* 100% / 16 = 6.25 */
}

    .grid {
    font-family: tahoma;
    font-size: 12px;
    border: solid 1px #7f7f7f;
    border-collapse: collapse;
    color: #333333;
    margin-right: 0px;
    table-layout: auto;
}
    .grid th {
        border-color: #989898 #cbcbcb #989898 #989898;
        border-style: solid solid solid none;
        border-width: 1px 1px 1px 1px;
        color: Menu;
        padding: 4px 5px 4px 10px;
        vertical-align: bottom;
        text-align: left;
        background-color: Highlight;
    }
    .grid td {
        padding: 2px;
        border: solid 1px #c1c1c1;
        color: #717171;
        white-space: nowrap;
        table-layout: auto;
        font-family: Microsoft Sans Serif;
        font-size: 0.9em;
    }
    .grid Row {
        background-color: #B1DEDC;
    }
    .grid AltRow {
        background-color: #D1EDE9;
    }
    .grid EditRow {
        background-color: #0DC6DE;
    }
    .grid FooterRow {
        background-color: #3ec5f1;
    }
    .grid tr.gridRow:hover, .grid tr.gridAltRow:hover {
        font-family: tahoma;
        font-size: 12px;
        border: solid 1px #7f7f7f;
        border-collapse: collapse;
        background-color: #99BBE1;
    }
    .grid input[type="text"] {
        border: 1px solid #ccc;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
    }

.box2 {
    float: left;
    margin: 0.1%;
    width: 11.615861214%;
}

/* gridview: general style */
.gv table {
    padding: 0px;
    margin: 0px;
    border: solid 0px #000;
}

/* gridview table headings */
.gv th {
    color: white;
    text-align: left;
    background-color: #006600;
    border-color: Navy;
    vertical-align: middle;
    background: navy;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 0.9em;
}
/* click-to-sort hyperlinks */
.gv th a {
        color: White;
        font-weight: bold;
        text-decoration: none;
    }
.gv th a:hover {
            color: #FFFF77;
        }
/* table cells have padding */
.gv td {
    padding: 5px 10px;
    text-align: left;
    vertical-align: top;
    border: 1px solid #f2eeee;
    font-size: small;
}
/* links within cells (edit/delete) */
.gv td a {
        color: #F00;
        font-weight: bold;
        text-decoration: underline;
    }
.gv td a:hover {
        color: #F00;
        text-decoration: none;
    }
/* different types of task have different colours */
.notbegunGv td {
    /* not begun: light */
    background-color: #F2FFFF;
}
.ongoingGv td {
    /* ongoing tasks: darkish */
    background-color: #D9FFFF;
}
.completeGv  th {
    /* complete tasks - darker */
    background-color: #A8E2FF;
    max-width: 50px;
}


.btn_close {
    background: url(http://icons.iconarchive.com/icons/hopstarter/button/128/Button-Close-icon.png) no-repeat 0 0;
    border: 0;
    height: 12px;
    width: 12px;
}
.hide_column {
    display: none;
}


.ModalBackground {
    background-color: black;
    filter: alpha(opacity = 90);
    opacity: 0.8;
    border-width: thin;
}
.modalPopup {
    background-color: #ffffff;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
    border: 6px solid RGB(140,240,2110);
    overflow: auto;
    min-width: 400px;
}

.btn_Info {
    background-image:url(Ribbon/images/icon_about.png);
}

.btn_Edit {
    background: linear-gradient(to bottom, #FFFFFF 0%, #F2F2F2 100%) repeat scroll 0 0 transparent;
    background-image:url(images/icons/icon_edit.ico);
    border: 1px solid #BBBBBB;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 4px #BBBBBB;
    color: black;
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    font-size: 11px;
    margin-right: 10px;
    min-width: 20px;
    padding: 5px 7px;
    vertical-align: bottom;
}

.rsButton {
    background: linear-gradient(to bottom, #FFFFFF 0%, #F2F2F2 100%) repeat scroll 0 0 transparent;
    border: 1px solid #BBBBBB;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 4px #BBBBBB;
    color: black;
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    font-size: 11px;
    margin-right: 10px;
    min-width: 20px;
    padding: 5px 7px;
    vertical-align: bottom;
}



.edit_table td {
    padding: 2px;
    text-align: center;
    background-color: #DEF3CA;
    border: 2px solid #E7EFE0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #666;
    text-shadow: 1px 1px 1px #fff;
}

.autoCompleteList {
    background-color: White !important;
    border: solid 2px red;
    margin: 0px;
    padding-left: -10px;
    list-style-type: none;
    font-size: small;
    z-index: 100009 !important;
}
.autoCompleteListItem {
    background-color: White !important;
    color: black !important;
    z-index: 100009 !important;
}
.autoCompleteSelectedListItem {
    background-color: #EDB912 !important;
    color: Black !important;
    z-index: 100009 !important;
}


.mGrid td {
    padding: 2px;
    border: solid 1px #c1c1c1;
    color: #717171;
    white-space: nowrap;
    table-layout: auto;
    font-family: Microsoft Sans Serif;
    font-size: 0.9em;
    text-align: center;
}
.mGrid th {
    padding: 4px 2px;
    color: #fff;
    background: #424242 url(grd_head.png) repeat-x top;
    border-left: solid 1px #525252;
    font-size: 0.9em;
    font-family: Microsoft Sans Serif;
    text-align: center;
}
.mGrid input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 100%;
}
.mGrid td {
    width: 10%; /* 100% / 16 = 6.25 */
}


    .grid {
    font-family: tahoma;
    font-size: 12px;
    border: solid 1px #7f7f7f;
    border-collapse: collapse;
    color: #333333;
}
    .grid th {
        border-color: #989898 #cbcbcb #989898 #989898;
        border-style: solid solid solid none;
        border-width: 1px 1px 1px 1px;
        color: Menu;
        padding: 4px 5px 4px 10px;
        vertical-align: bottom;
        text-align: left;
        background-color: Highlight;
    }
    .grid td {
        color: #333333;
        padding: 4px 1px 4px 1px;
        border-bottom: solid 1px #BBD9EE;
        padding: 4px 5px 4px 10px;
    }
    .grid Row {
        background-color: #B1DEDC;
    }
    .grid AltRow {
        background-color: #D1EDE9;
    }
    .grid EditRow {
        background-color: #0DC6DE;
    }
    .grid FooterRow {
        background-color: #3ec5f1;
    }
    .grid tr.gridRow:hover, .grid tr.gridAltRow:hover {
        font-family: tahoma;
        font-size: 12px;
        border: solid 1px #7f7f7f;
        border-collapse: collapse;
        background-color: #99BBE1;
    }
    .grid input[type="text"] {
        border: 1px solid #ccc;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        width: 100%;
    }

.hCursor {
    cursor: pointer;
    cursor: heand;
}

.box1 {
    float: left;
    margin: 0.1%;
    width: 80.615861214%;
}
.box2 {
    float: left;
    margin: 0.1%;
    width: 11.615861214%;
}

.ge-en tr {
    border: solid 1.8px #7f7f7f;
    color: #333333;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.ge-en input {
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    color: black;
}
.ge-en input:focus {
        outline: none;
    }

.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: absolute;
    top: 15%;
    left: 5%;
    width: 70%;
    height: 70%;
    padding: 2px;
    border: 1px solid #D1EDE9;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}

table tbody a:link {
    text-decoration: none;
}
table tbody a:visited {
    text-decoration: none;
}
table tbody a:hover {
    text-decoration: none;
}              

    .panel {
        position: relative;
        left: 280px;
        top: 75px;
        width: 360px;
        height: 427px;
        z-index: 7;
    }
    .type {
        font-size: 19.913px;
        font-family: "Helvetica";
        color: rgb( 255, 255, 255 );
        line-height: 1.11;
        text-align: center;
        -moz-transform: matrix( 1.70449868947994, 0, 0, 1.72443193254442, 0, 0);
        -webkit-transform: matrix( 1.70449868947994, 0, 0, 1.72443193254442, 0, 0);
        position: relative;
        left: 83px;
        top: 25.902px;
        width: 180px;
        height: 27px;
        z-index: 6;
    }
    .paneltop {
        background-image: -moz-linear-gradient( -90deg, rgb( 1, 98, 171 ) 0%, rgb( 0, 52, 91 ) 100%);
        background-image: -webkit-linear-gradient( -90deg, rgb( 1, 98, 171 ) 0%, rgb( 0, 52, 91 ) 100%);
        position: relative;
        left: 0px;
        top: 2px;
        border-radius: 20px;
        width: 93%;
        height: 60px;
        z-index: -1;
    }
    .panelback {
        border-radius: 20px;
        background-color: none;
        box-shadow: none;
        position: relative;
        left: 2px;
        top: 1px;
        width: 100%;
        min-height: 400px;        
    }

    .WhiteBox {
        background: #fff;
        width: 100px;
        padding: 5px;
        margin: 5px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    .BlueBox {
        background: #1E94DE;
        height: 70px;
        padding: 5px;
        margin: 5px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    .GreenBox {
        background: #A0C64B;
        height: 70px;
        padding: 5px;
        margin: 5px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    .YellBox {
        background: #EDB912;
        height: 70px;
        padding: 5px;
        margin: 5px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    .LgreenBox {
        background: #1ACCA4;
        height: 70px;
        padding: 5px;
        margin: 5px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    .PinkBox {
        background: #D24E6E;
        height: 70px;
        padding: 5px;
        margin: 5px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    .gridTable {
        margin-left: auto;
        margin-right: auto;
        width: 540px;
        height:auto;
        overflow:auto;
    }
    .gridTable ._01 {
        width: 100px;
    }
    .gridTable ._02 {
        width: 220px;
    }
    .gridTable ._03 {
        width: 340px;
    }
    .gridTable ._04 {
        width: 460px;
    }
    .gridTable ._05 {
        width: 580px;
    }
    .gridTable ._06 {
        width: 700px;
    }
    .gridTable ._07 {
        width: 820px;
    }

    .btn_one {
        font-size: xx-small;
        height: 10%;
        width: 25%;
    }
    .btn_one img {
        height: 80%;
        vertical-align: middle;
    }
    .two_btn_small {
        width: 120px;
        height: 74px;
        padding: 5px;
        line-height: 25px;
        text-align: center;
        text-indent: 10px;
        vertical-align: text-top;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 13px;
        color: #333;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        cursor: pointer;
        margin: 5px;
    }
    .two_btn_small:hover {
        background-color: #F7F7F7;
    }
    .two_btn_small img {
        height: 60%;
        float: left;
        vertical-align: top;
    }
    .two_btn_large {
        width: 220px;
        height: 74px;
        padding: 5px;
        line-height: 25px;
        text-align: center;
        text-indent: 10px;
        vertical-align: text-top;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 16px;
        color: #333;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        cursor: pointer;
        margin: 5px;
    }
    .two_btn_large:hover {
            background-color: #F7F7F7;
        }
        .two_btn_large img {
            height: 100%;
            float: left;
            vertical-align: top;
        }

.top_line {
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(248, 248, 248);
    border-left-style: solid;
    border-left-width: 3px;
    border-right-color: rgb(248, 248, 248);
    border-right-style: solid;
    border-right-width: 3px;
    border-top-color: rgb(0, 0, 0);
    border-top-style: none;
    border-top-width: 0px;
    display: block;
    font-family: 'BPG Arial';
    font-size: 12px;
    height: 802px;
    margin: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 80%;
}
.auto-style1 {
    width: 221px;
}

.wb_info {
    float: left;
    text-align: center;
    margin-left: 22px;
    margin-top: -10px;
}

.rsInputLang {
    margin: 1px 1px 1px;
    background-color: #7EC126;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: arial;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.8;
    text-align: center;
    width: 20px;
}

.rsTabLeftPanel {
    float: left;
    width: auto;
    text-align: right;
    margin: 15px 10px;
    display: inline;
}

.rsTabRightPanel {
    float: left;
    width: 400px;
    text-align: left;
    margin: 15px 10px;
    display: inline;
}

.rsMD_Options {
    display: none;
    position: absolute;
    padding: 5px 7px 8px;
    text-align: left;
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    box-shadow: 3px 3px 12px #CDCDCD;
    z-index: 1000;
}

.rsGrid input[type="text"] {
    padding: 0.25em 0.75em; 
    float: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: left;
    width: 100%;
}

.rsGridInput {
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: left;
    width: 120px;
}

.rsGridSelect {
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 100%;
}

.rsGridContainer {
    position: relative;
    top: -580px;
    float:right;
	border:1px solid #aaa;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
    margin-right:3px;
	overflow:hidden;
	background-color:#fff;
	-webkit-box-shadow: 0 4px 10px 4px rgba(0,0,0,.3);
	-moz-box-shadow: 0 4px 10px 4px rgba(0,0,0,.3);
	box-shadow:0 4px 10px 4px rgba(0,0,0,.3);
	border-radius:5px;
    min-height: 230px;
    max-width: 40%;
}

.rsGrid {
    border-collapse: collapse;
    border: 1px solid #d0d0d0;
    box-shadow: 0px 0px 3px #b9b9b9;
    background: #FFF;
    table-layout: fixed;
    width: 100%;
}

.rsGrid .sortable:hover {
    text-decoration: underline;
    cursor: pointer;
}

.rsGridHeaderRow, .rsGridSecondHeaderRow {
    position: absolute;
    background: #f8f8f8;
    color: #686868;
    height: 33px;
    font-size: 12px;
    text-shadow: 0px 1px 0px #FFF;
    text-align: left;
    box-shadow: 0px 1px 0px #FFF;
}

.rsGridHeaderRow > th > div, .rsGridSecondHeaderRow > th > div {
    padding: 10px 0;
}

.rsGridDataRow, .rsGridDataRowAlt {
    vertical-align: top;
    font-size: 12px;
    color: #000;
    text-align: center;
    border-top: 1px solid #eeeeee;
    background: #FFF;
    height: 41px;
    *height: 25px;
}

.rsGridDataRow:hover {
    background: #E7E7E7;
    cursor: pointer;
}


.rsGridDataRowAlt {
    background: #fbfbfb;
}

.rsGridDataRowAlt:hover {
    background: #E7E7E7;
    cursor: pointer;
}

.rsGridDataRow input[type="text"] {
    padding: 0.32em 0.75em;
    float: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: left;
    width: 100%;
    height: 20px;
}

.rsGridSummaryRow {
    height: 27px;
    background: #f8f8f8;
    font-size: 14px;
    color: #000;
    border-top: 2px solid #d0d0d0;
    box-shadow: 0px 1px 0px #FFF inset;
    background-color: #F1F1F1;
}

.rsGridSummaryRow td {
    text-align: left !important;
    font-weight: bold;
    overflow: visible !important;
}

.Red_col {
    border: 1px solid #ff0000;
}

.imageContainer {
      
       height:50px; 
	   width:55px;
       background-image: url(ribbon/images/1475768302_43_Bell.ico);
	   background-size: 70px 62px;
 }



.ntfy { 
   position: relative;
   top: 20px;
   
   color: red;
   left: 0; 
   width: 100%; 
}

.imageContainer2 {      
       height:50px; 
	   width:60px;
       background-image: url(ribbon/images/1475768499_message.png);
	   background-size: 70px 62px;
 }

.layout_horizontaly {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom:2;
    *display:inline;
    /* this fix is needed for IE7- */
}