<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="borjomiConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB; AttachDbFilename=C:\Users\giorgi\OneDrive\Projects\AM_Parts\Ribbon_WebApp\App_Data\my_bs\am_parts.mdf; Integrated Security=True; Connect Timeout=30; MultipleActiveResultSets=True;"/>
    <add name="accessDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\gio_g\OneDrive\Projects\BorjomisTransporti\Ribbon_WebApp\SuppliersDB.accdb" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <anonymousIdentification enabled="true"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
    <globalization enableClientBasedCulture="true" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-NZ" uiCulture="en-NZ"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_LanguageService"/>
        <binding name="TecdocToCatPortBinding"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://api.microsofttranslator.com/V1/soap.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LanguageService" contract="ms_translate.LanguageService" name="BasicHttpBinding_LanguageService"/>
      <endpoint address="http://api.microsofttranslator.com/V1/soap.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LanguageService" contract="ms_translate.LanguageService" name="BasicHttpBinding_LanguageService1"/>
      <endpoint address="http://webservicepilot.tecdoc.net:80/pegasus-3-0/services/TecdocToCatDLB.soapEndpoint" binding="basicHttpBinding" bindingConfiguration="TecdocToCatPortBinding" contract="tcd_pegasus3.TecdocToCat" name="TecdocToCatPort"/>
    </client>
  </system.serviceModel>
</configuration>